<div>
    <div class="bg-gradient-to-r from-sky-600 to-sky-300 p-4">
        <div class="mx-10">
         <h1 class="inline text-2xl font-bold p-2 text-white">Angular Curd</h1>
             <!-- <button class="float-right ml-3 text-base hover:bg-sky-500 rounded-md p-2 text-white font-bold" routerLink="/viewUser">Add User</button> -->
         <button class="float-right text-base bg-sky-500 p-2 rounded-md text-white font-bold hover:bg-gradient-to-r from-sky-600 to-sky-800 duration-100 ease-in-out" routerLink="/viewUser">ViewUser</button>
         
         </div>
     </div>
    <div class="bg-gradient-to-r from-slate-200 to-slate-400 h-screen py-20">
        <div class="bg-white w-1/4 rounded-md shadow-xl container mx-auto">
            <div class="py-6 mx-6">
                <h1 class="text-2xl font-semibold p-2">{{(changeValue)? "Update User Details Form":"Add User Details Form"}}</h1>
                <hr>
                <form [formGroup]="addUser" (ngSubmit)="getFormData(addUser.value)">
                    <label class="inline-block mt-2">UserName</label>
                    <input type="text" placeholder="Enter UserName" class="border p-2 w-full rounded-md mt-2 outline-none" formControlName="username" [(ngModel)]="user.username">
                    <span *ngIf="username && username.invalid && username.touched" class="text-red-500">Username Required</span><br>
                    <label class="inline-block mt-2">Password</label>
                    <input type="password" placeholder="Enter Password" class="border p-2 w-full rounded-md mt-2 outline-none" formControlName="password" [(ngModel)]="user.password" minlength="10">
                    <span *ngIf="password && password.invalid && password.touched" class="text-red-500">Password requried</span><br>
                    <label class="inline-block mt-2">Email Address</label>
                    <input type="email" placeholder="Enter UserEmail Address" class="border p-2 w-full rounded-md mt-2 outline-none" formControlName="email" [(ngModel)]="user.email">
                    <span *ngIf="email && email.invalid && email.touched"  class="text-red-500">Email requried</span><br>
                    <label class="inline-block mt-2">Phone Number</label>
                    <input type="number" placeholder="Enter PhoneNumber" class="border p-2 w-full rounded-md mt-2 outline-none" formControlName="phone" [(ngModel)]="user.phone">
                    <span *ngIf="phone && phone.invalid && phone.touched" class="text-red-500">Phone number requried</span><br>
                    <label class="inline-block mt-2">User Address</label>
                    <textarea  placeholder="Enter UserAddress" class="border p-2 w-full rounded-md mt-2 outline-none" formControlName="address" [(ngModel)]="user.address"></textarea>
                    <span  *ngIf="address && address.invalid && address.touched"class="text-red-500">Address requried</span><br>
                    <button class="p-2 bg-gradient-to-r from-orange-300 to-orange-600 mt-2 font-bold rounded-md w-full">{{(changeValue)? "Updateuser":"Adduser"}}</button>
                </form>
            </div>
            
        </div>
    </div>
</div>
     